
:root {
    --light-background: #E0E0E0;
    --lightest-background: #E9E9E9;
    --highlight-color: rgb(0, 123, 255);
    --light-text-color: rgb(140, 140, 140);
    --highlight-reduced-opacity: rgba(0, 123, 255, 0.3);
    --card-background: rgb(240, 240, 240);
}

body {
    padding-top: 70px; 
}

@font-face {
    font-family: Metropolis-Light;
    src: url(assetts/fonts/metropolis-light.woff)
}

@font-face {
    font-family: Metropolis-Thin;
    src: url(assetts/fonts/metropolis-thin.woff)
}

@font-face {
    font-family: Metropolis-Regular;
    src: url(assetts/fonts/metropolis-regular.woff)
}

@font-face {
    font-family: Metropolis-Bold;
    src: url(assetts/fonts/metropolis-bold.woff)
}
  
a { 
    outline: none; 
}

h1 {
    font-family: Metropolis-Bold;
}

h2 {
    font-family: Metropolis-Regular;
}

p {
    font-family: Metropolis-Regular;
    font-size: 17px;
}

/* overlay styling */

.fade.modal-backdrop.show {
    opacity: 0.75;
}

.modal-title h1 {
    color: var(--highlight-color);
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.modal-title h2 {
    color: var(--light-text-color);
    font-size: 20px;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

.modal-content {
    /* border-radius: 10px; */
}

.modal-body {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.btn-primary {
    background-color: black;
    border-color: black;
    font-family: Metropolis-Regular;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.btn-primary:hover {
    background-color: black;
    border-color: black;
}

.btn-content {
    display: flex;
    align-items: center;
}

.github-icon {
    display: flex;
    margin-right: 10px;
    font-size: 25px;
}

.src-link {
    font-size: 15px;
}

.project-gallery {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-gap: 10px;
}

.gallery-item { 
    border-radius: 5px;
}

.project-description {
    margin-top: 1.5em;
}

