:root {
    --light-background: #E0E0E0;
    --lightest-background: #E9E9E9;
    --highlight-color: rgb(0, 123, 255);
    --light-text-color: rgb(140, 140, 140);
    --highlight-reduced-opacity: rgba(0, 123, 255, 0.3);
    /* --highlight-color: rgb(255, 71, 71); 
    --highlight-reduced-opacity: rgba(255, 71, 71, 0.3);  */
    --card-background: rgb(240, 240, 240);
}

body {
    padding-top: 70px;
}

@font-face {
    font-family: Cereal-Black;
    src: url(assets/fonts/AirbnbCerealBlack.woff)
}

@font-face {
    font-family: Cereal-Bold;
    src: url(assets/fonts/AirbnbCerealBold.woff)
}

@font-face {
    font-family: Cereal-Black;
    src: url(assets/fonts/AirbnbCerealBlack.woff)
}

@font-face {
    font-family: Cereal-Book;
    src: url(assets/fonts/AirbnbCerealBook.woff)
}

@font-face {
    font-family: Cereal-Extra-Bold;
    src: url(assets/fonts/AirbnbCerealExtraBold.woff)
}

@font-face {
    font-family: Cereal-Light;
    src: url(assets/fonts/AirbnbCerealLight.woff)
}

@font-face {
    font-family: Cereal-Medium;
    src: url(assets/fonts/AirbnbCerealMedium.woff)
}

@font-face {
    font-family: Metropolis-Light;
    src: url(assets/fonts/metropolis-light.woff)
}

@font-face {
    font-family: Metropolis-Thin;
    src: url(assets/fonts/metropolis-thin.woff)
}

@font-face {
    font-family: Metropolis-Regular;
    src: url(assets/fonts/metropolis-regular.woff)
}

@font-face {
    font-family: Metropolis-Bold;
    src: url(assets/fonts/metropolis-bold.woff)
}

h1 {
    /* font-family: Metropolis-Bold; */
    /* font-family: Cereal-Black; */
    /* font-family: Cereal-Bold; */
    font-family: Cereal-Bold;
}

h2 {
    /* font-family: Metropolis-Regular; */
    font-family: Cereal-Book;
}

p {
    /* font-family: Metropolis-Regular; */
    font-family: Cereal-Book;
    font-size: 17px;
}

p:last-of-type {
    margin-bottom: 0px;
}

a {
    color: var(--highlight-color);
    text-decoration: none;
    position: relative;
    outline: none;
}

a.link:hover {
    color: var(--highlight-reduced-opacity);
    text-decoration: none;
}