.fade.modal-backdrop.show {
    opacity: 0.75;
}

.modal-title h1 {
    color: var(--highlight-color);
    font-size: 30px;
    margin-bottom: 0px;
}

.modal-title h2 {
    color: var(--light-text-color);
    font-size: 20px;
}

.modal-header {
    border-bottom: 0 none;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
}

.modal-footer {
    border-top: 0 none;
}

.modal-body {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-primary {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: Metropolis-Regular;
}

.btn-primary.src {
    background-color: black;
    border-color: black;
}

.btn-primary.demo {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
    margin-right: 10px;
}

.btn-content {
    display: flex;
    align-items: center;
}

.btn-demo {
    background-color: var(--highlight-reduced-opacity);
}

.github-icon {
    display: flex;
    margin-right: 10px;
    font-size: 24px;
}

.src-link {
    font-size: 15px;
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-gap: 10px;
}

.top-gallery {
    padding-bottom: 10px;
}

.gallery-item {
    border-radius: 5px;
}

.project-description {
    margin-top: 1.5em;
}

.close {
    padding-right: 0px;
}

#email-text {
    margin-top: 10px;
    font-family: Metropolis-Regular;
}

#email-app-button {
    font-family: Metropolis-Regular;
    background-color: var(--highlight-reduced-opacity);
    margin-left: 10px;
}

#email-app-button a {
    font-family: Metropolis-Regular;
    color: var(--highlight-color);
    text-decoration: none;
}